################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/TownyChunk/.vs/TownyChunk
/TownyChunk/x64/Debug/TownyChunk.tlog
/TownyChunk/TownyChunk.vcxproj.user
/TownyChunk/x64/Debug
